.box-1 {
  width: 200px;
  height: 200px;
  background-color: blue;
  position: absolute;
}

.box-2 {
  width: 200px;
  height: 200px;
  background-color: green;
  position: absolute;
  bottom: 250px;
}

.box-3 {
  width: 200px;
  height: 200px;
  background-color: yellow;
  position: absolute;
  bottom: 250px;
  left: 500px;
}
.box-4 {
  width: 200px;
  height: 200px;
  background-color: red;
  position: absolute;
  left: 500px;
}
.container {
  width: 700px;
  height: 700px;
  background-color: lightgray;
}
